###############
# Credentials #
###############

discord_credentials.py
discordCredentials.py
constants.py

#########
# Cache #
#########

__pycache__
*.db-journal
.idea

########
# JSON #
########

amounts.json