###############
# Credentials #
###############

discord_credentials.py
discordCredentials.py

#########
# Cache #
#########

__pycache__
*.db-journal

#############
# Log Files #
#############

discord.log

########
# JSON #
########

amounts.json